body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.alig{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

form{

  margin-left: auto;
  margin-right: auto;
}

.nava{
  background-color: rgb(56, 238, 229);
  padding: 0;
  margin:0 0 0 0;
}
.navbar{
  background-color: aliceblue !important;
}

#header{
  background-color: aqua;
}

.backg{
  background-color: #E0F9B5;
  background-image: ;
  height:100%;
  width:100%;
  margin:0;
}
.spacetaker{
  background-color: #E0F9B5;
  height:400px;
  width:100%;
  margin:0;
}

.navbar-brand{
  font-size: 1.9rem !important; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  color: rgb(0, 0, 0) !important;
}

.asdf{
  height:100px;
  width:100px;
  
}
.menu_active{
  
  color:aqua;
}

.ire{
  color: #E0F9B5;
}
.navbar a{
  font-weight: 600;
}
/* .navbar a:hover{
  color: rgb(31, 192, 233);
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
